@import "~bootstrap/scss/bootstrap";

$theme-primary: #12182E;
$theme-secondary: #46344E;
$theme-main: #e9ecef;

nav{
  font-family: 'Raleway';
  background-color: $theme-primary;
}

.font-rale{
  font-family: 'Raleway';
}

.font-jose{
  font-family: 'Josefin Sans';
}

.header-image-container{
  width: 100%;
  background-image: url("https://images.pexels.com/photos/713644/pexels-photo-713644.jpeg?dl&fit=crop&w=4256&h=2832");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  object-fit: cover;
  @media screen and (max-width: 900px) {
    height: 15em;
  }
  height: 30em;

}

.full-height {
  height: 100%;
}

.card-link {
  color: $theme-primary!important;
  &:hover{
    color: $theme-secondary!important;
    background-color: $theme-main!important;
  }
}
